<mat-card class="left-sidenav">
  <mat-card-header *ngIf="loggedInUser">
    <mat-card-title>
      <h2>
        {{loggedInUser.fullName}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="buttons-card">
    <button mat-stroked-button class="left-buttons" (click)="navigate('new-page')" color="primary">Create new article
    </button>
    <button mat-stroked-button class="left-buttons" (click)="navigate('my-articles')" color="primary">My articles
    </button>
    <button mat-stroked-button class="left-buttons" (click)="navigate('articles')" color="primary">Articles</button>
    <button mat-stroked-button class="left-buttons" (click)="signout()" color="primary">Sign out</button>
  </mat-card-content>
</mat-card>
