.container {
  margin-left: 15%;
  margin-right: 2%;
  margin-top: -0.5%;
}

.page-title {
  font-weight: bold;
  font-size: 30px;
}

.container-item {
  height: 93%;
  width: 80%;
  position: fixed;
  overflow-y: scroll;
}
.container-item::-webkit-scrollbar, .friends-card::-webkit-scrollbar {
  display: none;
}
