<div class="search-bar" [formGroup]="searchForm">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput formControlName="searchTerm">
  </mat-form-field>
</div>
<div class="container">
  <mat-card *ngFor="let page of pages" class="container-item">
    <mat-card-title class="title">
      <mat-card-header>
        <span class="page-title" (click)="navigateToArticle('/wiki', page.title)">
          {{page.title}}
        </span>
      </mat-card-header>
      <mat-card-header>
        <mat-card-subtitle class="subtitle">
          {{page.author.fullName + " " + (page.timestamp | date: 'dd.MM.yyyy')}}
          <app-article-menu [page]="page" (deleteEmitted)="deleteArticle($event)" *ngIf="checkAccess(page)"></app-article-menu>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card-title>
    <mat-card-content>
      <p [innerHtml]="((page.content.length > 100) ? (page.content | slice:0:300) + '...' : page.content) | safeHtml">
      </p>
    </mat-card-content>
  </mat-card>
</div>
