<div [formGroup]="newPage">
  <div class="container">
    <h3>{{title}}</h3>
    <mat-form-field class="container-item" appearance="outline">
      <mat-label>Title</mat-label>
      <textarea matInput autosize [minRows]="1" formControlName="title"></textarea>
    </mat-form-field>
    <app-allowed-to-read-chip class="container-item" #chipComponent></app-allowed-to-read-chip>
    <app-editor class="container-item" #editor></app-editor>
    <div>
      <button mat-stroked-button color="primary" (click)="createPage()" [disabled]="newPage.invalid">{{title}}</button>
      <button mat-stroked-button color="warn" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
